--swiftversion 5.0
--indent 4
--tabwidth 4
--maxwidth 120
--trimwhitespace always
--indentcase true
--allman false
--wrapcollections before-first
--wraparguments preserve
--wrapparameters preserve
--stripunusedargs closure-only
--self remove
--importgrouping alpha
--commas always
--semicolons inline-only
--header ignore
--ifdef no-indent
--emptybraces no-space
--decimalgrouping 3,6
--binarygrouping 4,8
